@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');


*{
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

header a img{
    width: 200;
    height: 101.4800033569336;
    max-width: 200px;
    opacity: 1;
}

header nav li{
    gap: 40px;
    list-style: none;
    justify-content: space-between;
    display: flex;
}

header nav a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #27697c;
}

footer p{
    color: #fff;
    text-align: center;
}

main section.class1{
    background-image: url(image/batiment.jpg);
    background-attachment: fixed;    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    align-items: center;
    text-align: center;
    max-width: 1440px;
}

main section.class1 div{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #27697CE3;
    border-style: none;
    padding: 50px 015px 50px 015px;
}
 main section.class1 div h2{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
 }

 main section.class1 div p{
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
 }

 main section.class1 div button{
    background-color: #FFFFFF;
    border-width: 1px 1px 1px 1px;
 }

 main section.class1 div button a{
    text-decoration: none;
    color: #27697c var(--e-global-color-a8fd637);
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}